@font-face {
  font-family: 'bloody';
  src: url('/assets/blood-webfont.woff2') format('woff2'),
       url('/assets/blood-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "Courier";
    background-image: url('../images/sacrificial-chamber-animated.gif');
    background-size: cover;
    background-color: black;
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #e3e3e3;
}

/*Main UI */
.container.full {
    height: 100vh;
}
.top-spacer {
    height: 15vh;
    width: 100%;
}
.dialogue-card {
  background-image: url('/images/card_border.png');
  background-color: transparent !important;
  background-size: 100% 100%;
  border: none;
  padding: 50px;
}
.dialogue-container {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    text-align: left;
    border-radius: 15px;
    overflow-wrap: break-word;
    padding: 10px;
}
.card-body.dialogue {
    max-width: 600px;
}

.css-typing a {
    color: red;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: 8px;
    padding: 3px;
}
.css-typing p {
    border-right: none;
    white-space: prewrap;
    opacity: 0;
    -webkit-animation: type2 1s steps(40, end);
    animation: type2 1s steps(80, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(1) {
    animation-delay: 1s;
  }
  
  .css-typing p:nth-child(2) {
    animation-delay: 2s;
  }
  
  .css-typing p:nth-child(3) {
    animation-delay: 3s;
  }

  .custombtn {
    background-color: transparent;
    border: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 55px;
    display: inline-block;
    margin: 10px auto 0px auto;
    width: 120px;
  }
  .custombtn.follow {
    background-image: url('/images/follow_btn.png');
  }
  .custombtn.follow:hover {
    background-image: url('/images/follow_btn_hover.png');
  }
  .custombtn.leave {
    background-image: url('/images/leave_btn.png');
  }
  .custombtn.leave:hover {
    background-image: url('/images/leave_btn_hover.png');
  }
  .custombtn.summon {
    background-image: url('/images/summon_btn.png');
  }
  .custombtn.summon:hover {
    background-image: url('/images/summon_btn_hover.png');
  }
  .custombtn.sacrifice {
    background-image: url('/images/sacrifice_btn.png');
    width: 140px;
    height: 75px;
  }
  .custombtn.sacrifice:hover {
    background-image: url('/images/sacrifice_btn_hover.png');
  }
  .custombtn.sacrifice:disabled,
  .custombtn.sacrifice[disabled]{
    background-image: url('/images/sacrifice_btn_disabled.png'); 
}
  
  @keyframes type2 {
    0% {
      width: 50;
    }
    1% {
      opacity: 0;
    }
    40% {
      opacity: 0.5;
    }
    99.9% {
      border-right: none;
    }
    100% {
      opacity: 1;

    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 50;
    }
    1% {
      opacity: 0;
    }
    40% {
      opacity: 0.5;
    }
    99.9% {
      border-right: none;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }


  /* Summoning module */

.metamask-container {
  background-color: black;
}
  
input[type=range] {
  -webkit-appearance: none; 
  width: 100%;
  background: transparent;
  background-color: rgba(0,0,0,0); 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
  background-color: rgba(0,0,0,0);
  border: none;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border-radius: 0px;
  background-color:rgba(0,0,0,0);
  background-image: url('/images/skull.png');
  background-size: 100% 100%;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  border-radius: 0px;
  background-color:rgba(0,0,0,0);
  background-image: url('/images/skull.png');
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background-image: url('/images/track.png');
  background-repeat: repeat-x;
  background-size: auto 15px;
  background-color: rgba(0,0,0,0);
  border-radius: 15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-image: url('/images/track_focus.png');
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background-image: url('/images/track.png');
  background-repeat: repeat-x;
  background-size: auto 15px;
  background-color: rgba(0,0,0,0);
  border-radius: 15px;
}

p.blood {
  font-family: bloody;
  font-size: 80px;
  color: #750600;
  text-shadow: 1px 1px #000000;
  animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    color: #750600;
  }
  50% {
    color: #b80900;
  }
}

.summon-card {
  background-image: url('/images/summon_container.png');
  padding-top: 200px;
  background-color: transparent !important;
  background-size: 100% 100%;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.metamask {
  background-image: url('/images/metadrop.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 100px;
  width: 300px;
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 2px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  top: 0px;
  right: 10vw;
}

.metamask p {
  color: #c9c6b5;
}
.meta-title {
  color: #a19e91;
}

.metamask-connect {
  background-color: rgba(0,0,0,0);
  border: 0px;
  color: #c9c6b5;
  font-weight: normal;

}
.sacrificing-card {
  padding-top: 210px;
  background-color: transparent !important;
  background-size: 100% 100%;
  border: none;
  height: 70vh;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}
.sacrificing-card.left {
  background-image: url('/images/step_1.png');
}
.sacrificing-card.center {
  background-image: url('/images/step_2.png');
}
.sacrificing-card.right {
  background-image: url('/images/step_3.png');
}

.image-container {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
}
.image-container img {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin: 10px;
  height: auto;
  max-width: 22%
}
.character {
  height: auto;
  max-width: 80%
}
.metaclick {
  font-decoration: none;
  color: default;
}